.fscontainer,
.fscontainerdragged {
    @apply container m-auto pt-20;
}

.fscontainer *,
.fscontainerdragged * {
    @apply text-center;
}

.fscontainer h1,
.fscontainerdragged h1 {
    @apply text-6xl;
}

.fscontainer p,
.fscontainerdragged p {
    @apply text-2xl px-60;
}

.buttonContainer button,
.fscontainerdragged button {
    @apply bg-blue-600 px-8 py-3 text-xl font-sans text-white tracking-widest rounded-lg cursor-pointer;
}

.fscontainerdragged {
    @apply bg-green-100 text-gray-500 border-4 border-dashed;
}

.fscontainer input[type='file'] {
    @apply hidden;
}
